body {
    font-family: generalFont, sans-serif;
    font-size: 20px;
    scrollbar-gutter: stable;
    overflow-x: hidden;
    margin: 0;
    overflow-x: hidden;
    margin: 0;
    &.no-scroll {
        overflow: hidden;
    }
}
