$primaryColor: blue;
$secondaryColor: blue;
html {
    font-family: generalFont;
}

h1 {
    color: black;
}

.counter {
    border: 1px solid red;
    color: red;
    h1 {
        color: $secondaryColor;
    }
}
