$primaryColor: blue;
$secondaryColor: blue;
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}

h1 {
    color: black;
}

.counter {
    border: 1px solid red;
    color: red;
    h1 {
        color: $secondaryColor;
    }
}
